In [1]:
[i * 3 for i in range(5)]

[0, 3, 6, 9, 12]

In [3]:
d = {
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4
}

d['two']

2

In [5]:
def point(x, y):
    return (x,y)
    
p = point(0, 1)
p

(0, 1)

In [8]:
x = (1, 2, 3)
s = dict(x)

s

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [9]:
f = lambda x,y: x * y

f(3,3)

9

In [10]:
with open('hello.txt', 'w') as file:
  file.write("hello!")

print(file.closed)

True

In [11]:
class Planet:
    def __init__(self, name):
        self.name = name
        
v = Planet('venus')

v.name

'venus'

In [12]:
def to_int(x):
    try:
        return int(x)
    except ValueError:
        print("that value can't be turned into an integer")

to_int("")

that value can't be turned into an integer

In [13]:
dict_gen = { num:num*10 for num in range(5) }

dict_gen

{0: 0, 1: 10, 2: 20, 3: 30, 4: 40}