---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [20]:
def answer_one():
    return df[df['Gold']==max(df['Gold'])].index[0]
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [33]:
def answer_two():
    df_copy = df.copy()
    df_copy.head()
    df_copy['diff']= df['Gold']-df['Gold.1']
    max(df_copy['diff'])
    return df_copy[df_copy['diff']==max(df_copy['diff'])].index[0]
answer_two()

'United States'

# Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [43]:
def answer_three():
    df_copy = df.copy()
    #df_copy.head()
    df_copy = df[(df['Gold']>0) & (df['Gold.1']>0)]
    df_copy['diff']= (df['Gold']-df['Gold.1'])/df['Gold.2']
    return df_copy[df_copy['diff']==max(df_copy['diff'])].index[0]


answer_three()

C:\Users\HP019\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [48]:
def answer_four():
    df_copy = df.copy()
    #df_copy.head()
    df_copy = df[(df['Gold']>0) & (df['Gold.1']>0)]
    Points = (df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']*1)
    return Points
answer_four()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [109]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [6]:
def answer_five():
    return 0
df_copy = census_df.copy()
df_copy.head()
df_copy=df_copy[df_copy['SUMLEV'] == 50]
df_copy=df_copy.set_index(['STNAME','CTYNAME'])
s = df_copy.sum(level='STNAME')['COUNTY']
#df_copy[df_copy['COUNTY'].sum(level='STNAME')==max(df_copy['COUNTY'].sum(level='STNAME'))].index[0]
s[s==max(s)].index[0]
df_copy

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
        Blount County          50       3         6      1       9
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County             54571              54571            54660
        Baldwin County            182265             182265           183193
        Barbour County             27457              27457            27341
        Bibb County                22915              22919            22861
        Blount County              57322              57322            57373
...                                  ...                ...              ...
Wyoming Sweetwater County          43806              43806            43593
        Teton County               21294              21294            21297
        Uinta County               21118              21118            21102
        Washakie County             8533               8533             8545
        Weston County               7208               7208             7181

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                              ...
Alabama Autauga County               55253            55175  ...
        Baldwin County              186659           190396  ...
        Barbour County               27226            27159  ...
        Bibb County                  22733            22642  ...
        Blount County                57711            57776  ...
...                                    ...              ...  ...
Wyoming Sweetwater County            44041            45104  ...
        Teton County                 21482            21697  ...
        Uinta County                 20912            20989  ...
        Washakie County               8469             8443  ...
        Weston County                 7114             7065  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME
Alabama Autauga County             7.242091         -2.915927
        Baldwin County            14.832960         17.647293
        Barbour County            -4.728132         -2.500690
        Bibb County               -5.527043         -5.068871
        Blount County              1.807375         -1.177622
...                                     ...               ...
Wyoming Sweetwater County          1.072643         16.243199
        Teton County              -1.589565          0.972695
        Uinta County             -17.755986         -4.916350
        Washakie County          -11.637475         -0.827815
        Weston County            -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [11]:
def answer_six():
    df_copy = census_df.copy()
    df_copy.head()
    df_copy=df_copy[df_copy['SUMLEV'] == 50]
    df_copy=df_copy.set_index(['STNAME'])
    #df_copy= df_copy.sort_values(by=['STNAME','CENSUS2010POP'],ascending=False)
    #df_copy.sort_values?    
    return df_copy['CENSUS2010POP'].groupby('STNAME').nlargest(3) 
df_copy = census_df.copy()
df_copy.head()
df_copy=df_copy[df_copy['SUMLEV'] == 50]
df_copy=df_copy.set_index(['STNAME'])
#df_copy= df_copy.sort_values(by=['STNAME','CENSUS2010POP'],ascending=False)
#df_copy.sort_values?
df_copy['CENSUS2010POP'].groupby('STNAME').nlargest(3)

STNAME     STNAME
Alabama    Alabama      658466
           Alabama      412992
           Alabama      334811
Alaska     Alaska       291826
           Alaska        97581
                         ...
Wisconsin  Wisconsin    488073
           Wisconsin    389891
Wyoming    Wyoming       91738
           Wyoming       75450
           Wyoming       46133
Name: CENSUS2010POP, Length: 151, dtype: int64

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [80]:
def answer_seven():
    df_copy = census_df.copy()
    #df_copy.head()
    df_copy=df_copy[df_copy['SUMLEV'] == 50]
    rows = df_copy.iloc[:,9:15]
    #rows
    df_copy['min']=rows.min(axis=1)
    df_copy['max']=rows.max(axis=1)
    df_copy['diff']=df_copy['max']-df_copy['min']
    #df_copy.iloc[:,-3:]
    df_copy=df_copy.set_index('CTYNAME')
    return df_copy[df_copy['diff']==df_copy['diff'].max()].index[0]
df_copy = census_df.copy()
df_copy.head()
df_copy=df_copy[df_copy['SUMLEV'] == 50]
rows = df_copy.iloc[:,9:15]
rows
df_copy['min']=rows.min(axis=1)
df_copy['max']=rows.max(axis=1)
df_copy['diff']=df_copy['max']-df_copy['min']
df_copy.iloc[:,-3:]
df_copy=df_copy.set_index('CTYNAME')
df_copy[df_copy['diff']==df_copy['diff'].max()].index[0]
#df_copy['diff'].max()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [112]:
def answer_eight():
    df_copy = census_df.copy()
    df_copy=df_copy[df_copy['SUMLEV'] == 50]
    region = df_copy[(df_copy['REGION'] == 1) | (df_copy['REGION']==2)]
    region=region[region['POPESTIMATE2015']>region['POPESTIMATE2014']] 
    return region[region['CTYNAME']=='Washington County'][['STNAME', 'CTYNAME']]
df_copy = census_df.copy()
df_copy=df_copy[df_copy['SUMLEV'] == 50]
region = df_copy[(df_copy['REGION'] == 1) | (df_copy['REGION']==2)]
region=region[region['POPESTIMATE2015']>region['POPESTIMATE2014']]
region[['STNAME', 'CTYNAME']]

           STNAME             CTYNAME
315   Connecticut    Fairfield County
618      Illinois    Champaign County
625      Illinois     Crawford County
628      Illinois      De Witt County
633      Illinois    Effingham County
...           ...                 ...
3156    Wisconsin    Sheboygan County
3158    Wisconsin  Trempealeau County
3159    Wisconsin       Vernon County
3163    Wisconsin   Washington County
3164    Wisconsin     Waukesha County

[493 rows x 2 columns]